<template>
  <v-container>
    <v-layout column>
      <v-flex xs12>
        <h1>Manage Account</h1>
      </v-flex>
      <v-flex xs12>
        <h3>Update Password</h3>
        <v-flex xs12 sm6 offset-sm3>
        <v-text-field
            required
            label="New Password"
            type="password"
            v-model="newPassword"
            ></v-text-field>
          <v-text-field
            required
            label="Confirm Password"
            type="password"
            v-model="confirmPassword"
            ></v-text-field>
          <p class="red--text">{{error}}</p>
          <v-btn primary v-on:click="updatePassword">Update Password</v-btn>
      </v-flex>
      </v-flex>
      <v-flex xs12 pt-5>
        <h3>Logout</h3>
        <v-btn error v-on:click="logout">logout</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import firebase from 'firebase'
  
  export default {
  	name: 'account',
  	data: function() {
  		return {
  			newPassword: '',
        confirmPassword: '',
        error: ''
  		}
  	},
  	methods: {
      updatePassword: function () {
        if (this.newPassword === this.confirmPassword) {
          var user = firebase.auth().currentUser
          user.updatePassword(this.newPassword)
            .then(function() {
              alert('Update succesful!')
              this.$router.replace('/dashboard')
            })
            .catch(error => {
              this.error = error.message
            })
          this.$router.push('dashboard')
        } else {
          this.error = 'Passwords does not match'
        }
      },
  		logout: function () {
        this.$store.dispatch('setLoading', false)
  			firebase.auth().signOut().then( () => {
          this.$store.dispatch('setUser', null)
  				this.$router.replace('login')
  			})
  		}
  	}
  }
</script>