<template>
  <v-container>
    <v-layout column>
      <v-flex xs12 sm6 offset-sm3>
        <h1 class="text-xs-left pb-2">Add new product data</h1>
      </v-flex>
      <form @submit.prevent="onCreateProduct">
        <v-flex sm6 offset-sm3>
          <h3 class="text-xs-left pb-2">Basic Product Info</h3>
          <h4 class="text-xs-left">Brand</h4>
          <v-select
            :items="brandOptions"
            :error-message="['Please select a brand']"
            required
            placeholder="Select a brand"
            item-value="text"
            id="brand"
            v-model="brand"
            ></v-select>
          <h4 class="text-xs-left">Modelcode</h4>
          <v-text-field
            name="modelcode"
            placeholder="P0XYZ"
            required
            id="modelcode"
            v-model="modelcode"
            ></v-text-field>
          <h4 class="text-xs-left">Modelname</h4>
          <v-text-field
            name="modelname"
            placeholder="Model A 30W Speaker Monitor"
            required
            id="modelname"
            v-model="modelname"
            ></v-text-field>
          <h4 class="text-xs-left">Category</h4>
          <v-text-field
            name="category"
            required
            placeholder="Studio Monitors"
            id="category"
            v-model="category"
            ></v-text-field>
          <h4 class="text-xs-left">Subhead</h4>
          <v-text-field
            name="subhead"
            required
            id="subhead"
            placeholder="30W dual channel reference monitor"
            v-model="subhead"
            ></v-text-field>
          <v-select
            :items="warrantyOptions"
            label="Warranty"
            :error-message="['Please select warranty']"
            required
            item-value="text"
            id="warranty"
            v-model="warranty"
            ></v-select>
          <v-text-field
            name="bannerImage"
            label="Banner Image URL"
            required
            id="bannerImage"
            v-model="bannerImage"
            ></v-text-field>
          <img v-if="bannerImage" :src="bannerImage" height="300">
          <v-layout row align-center>
            <v-flex xs6>
              <h4 class="text-xs-left">PFI</h4>
            </v-flex>
            <v-flex xs1 offset-xs5>
              <v-btn fab small primary v-on:click="addPFI">
                <v-icon>add</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
          <v-layout row align-center v-for="(pfi, index) in PFIset" :key="index">
            <v-flex xs11>
              <v-text-field
                :id="'pfi' + index"
                name="pfi"
                label="PFI"
                v-model="pfi.value"
                ></v-text-field>
            </v-flex>
            <v-flex xs1>
              <v-icon color="error" v-on:click="removeItem(index, PFIset)">clear</v-icon>
            </v-flex>
          </v-layout>
          <h3 class="text-xs-left pb-2">Product Marketing info</h3>
          <v-layout row align-center>
            <v-flex xs6>
              <h4 class="text-xs-left">Competitor Info</h4>
            </v-flex>
            <v-flex xs1 offset-xs5>
              <v-btn fab small primary v-on:click="addCompetitor">
                <v-icon>add</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
          <v-layout row align-center v-for="(item, index) in competitorInfo" :key="index">
            <v-flex xs5>
              <v-text-field
                name="competitorModel"
                label="Competitor Model"
                v-model="competitorInfo[index].model"
                ></v-text-field>
            </v-flex>
            <v-flex xs5 offset-xs1>
              <v-text-field
                name="competitorPrice"
                label="Competitor Price"
                v-model="competitorInfo[index].price"
                ></v-text-field>
            </v-flex>
            <v-flex xs1>
              <v-icon color="error" v-on:click="removeItem(index, competitorInfo)">clear</v-icon>
            </v-flex>
          </v-layout>
          <h4 class="text-xs-left">Availability</h4>
          <v-text-field
            name="availability"
            placeholder="ex: Q1 2018"
            required
            id="availability"
            v-model="availability"
            ></v-text-field>
          <h4 class="text-xs-left">Street Price</h4>
          <v-text-field
            name="streetPrice"
            placeholder="ex: $100"
            required
            id="streetPrice"
            v-model="streetPrice"
            ></v-text-field>
          <v-layout row align-center>
            <v-flex xs6>
              <h4 class="text-xs-left">Feature Images</h4>
            </v-flex>
            <v-flex xs1 offset-xs5>
              <v-btn fab small primary v-on:click="addFeatureImages">
                <v-icon>add</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
          <v-layout row align-center v-for="(item, index) in featureImages" :key="index">
            <v-flex xs11>
              <v-text-field
                :id="'featureImage' + index"
                name="featureImage"
                label="feature Image URL"
                v-model="item.value"
                ></v-text-field>
            </v-flex>
            <v-flex xs1>
              <v-icon color="error" v-on:click="removeItem(index, featureImages)">clear</v-icon>
            </v-flex>
          </v-layout>
          <v-btn type="submit" primary>Save</v-btn>
        </v-flex>
      </form>
    </v-layout>
  </v-container>
</template>
<script>
  export default{
    name: 'create',
    data: function() {
      return {
      	brandOptions: ['BEHRINGER', 'BUGERA', 'OEM'],
      	warrantyOptions: ['1', '3', '5', '10'],
      	brand: '',
      	modelcode: '',
      	modelname: '',
      	category: '',
      	subhead: '',
      	PFIset: [],
      	bannerImage: '',
      	warranty: '',
      	competitorInfo: [],
      	availability: '',
      	streetPrice: '',
        featureImages: []
      } 
    },
    computed: {
      user () {
        return this.$store.getters.user
      }
    },
    methods: {
      addPFI () {
      	this.PFIset.push({
      		value: ''
      	})
      },
      removeItem (index, array) {
      	array.pop(index)
      },
      addCompetitor () {
      	this.competitorInfo.push({
      		model: '',
      		price: ''
      	})
      },
      addFeatureImages () {
        this.featureImages.push({
          value: ''
        })
      },
      onCreateProduct() {
      	var prodData = {
      		brand: this.brand,
      		modelcode: this.modelcode,
      		modelname: this.modelname,
      		category: this.category,
      		subhead: this.subhead,
      		pfi: this.PFIset,
      		bannerImage: this.bannerImage,
          warranty: this.warranty,
      		competitorInfo: this.competitorInfo,
      		availability: this.availability,
      		streetPrice: this.streetPrice,
          featureImages: this.featureImages,
          createdBy: this.user.email
      	}
      	this.$store.dispatch('createProduct', prodData)
      	this.$router.push('/dashboard')
      }
    }
  }
</script>