<template>
  <v-container>
    <v-layout row wrap v-if="loading">
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular
          indeterminate
          class="primary--text"
          :width="7"
          :size="70"></v-progress-circular>
      </v-flex>
    </v-layout>

    <div v-else>
      <h2 class="text-xs-left pb-2">Product list</h2>
      <v-data-table
          v-bind:headers="headers"
          v-bind:items="products"
          v-bind:search="search"
          v-model="selected"
          item-key="products.item.modelcode"
          select-all
          class="elevation-2"
        >
        <template slot="headerCell" slot-scope="props">
          <v-tooltip bottom>
            <span slot="activator">
              {{ props.header.text }}
            </span>
            <span>
              {{ props.header.text }}
            </span>
          </v-tooltip>
        </template>
        <template slot="items" slot-scope="products">
          <td>
            <v-checkbox
              primary
              hide-details
              v-model="products.item.selected"
            ></v-checkbox>
          </td>
          <td>{{ products.item.brand }}</td>
          <td>{{ products.item.modelcode }}</td>
          <td><a :href="'#/preview/' + products.item.id">{{ products.item.modelname }}</a></td>
          <td>{{ products.item.category }}</td>
          <td>{{ products.item.dateAdded }}</td>
          <td>{{ products.item.dateModified }}</td>
        </template>
      </v-data-table>
    </div>
  </v-container>
  
</template>
<script>
  import firebase from 'firebase'
  
  export default{
  	name: 'dashboard',
    data: function() {
      return {
        search: '',
        selected: [],
        headers: [
          { text: 'BRAND', value: 'brand'},
          { text: 'MODELCODE', value: 'modelcode' },
          { text: 'MODEL NAME', value: 'modelname' },
          { text: 'CATEGORY', value: 'category' },
          { text: 'DATE CREATED', value: 'dateCreated' },
          { text: 'DATE MODIFIED', value: 'dateModified' }
        ]
      }
    },
    computed: {
      products() {
        return this.$store.getters.loadedProducts
      },
      loading () {
        return this.$store.getters.loading
      },
      user () {
        return this.$store.getters.user
      }
    },
  }
</script>