<template>
  <v-layout column>
    <div v-if="loading">
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular
          indeterminate
          class="primary--text"
          :width="7"
          :size="70"></v-progress-circular>
      </v-flex>
    </div>
    <div v-else>
      <h2>Edit data for {{product.modelname}}</h2>
      <form @submit.prevent="updateProduct">
        <v-flex sm6 offset-sm3>
          <h3>Basic Product Info</h3>
          <v-select
            :items="brandOptions"
            :error-message="['Please select a brand']"
            required
            placeholder="Select a brand"
            item-value="text"
            id="brand"
            v-model="product.brand"
            ></v-select>
          <v-text-field
            name="modelcode"
            label="Model Code"
            id="modelcode"
            v-model="product.modelcode"
            ></v-text-field>
          <v-text-field
            name="modelname"
            label="Model Name"
            id="modelname"
            v-model="product.modelname"
            ></v-text-field>
          <v-text-field
            name="category"
            label="Category"
            id="category"
            v-model="product.category"
            ></v-text-field>
          <v-text-field
            name="subhead"
            label="Subhead"
            id="subhead"
            v-model="product.subhead"
            ></v-text-field>
          <v-select
            :items="warrantyOptions"
            label="Warranty"
            :error-message="['Please select warranty']"
            required
            item-value="text"
            id="warranty"
            v-model="product.warranty"
            ></v-select>
          <v-layout row align-center>
            <v-flex xs6>
              <h4 class="text-xs-left">PFI</h4>
            </v-flex>
            <v-flex xs1 offset-xs5>
              <v-btn fab small primary v-on:click="updatePFIset">
                <v-icon>add</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
          <v-layout row align-center v-for="(pfi, index) in updatedPFIset" :key="index">
            <v-flex xs11>
              <v-text-field
                :id="'pfi' + index"
                name="pfi"
                label="PFI"
                v-model="pfi.value"
                ></v-text-field>
            </v-flex>
            <v-flex xs1>
              <v-icon color="error" v-on:click="removeItem(index, updatedPFIset)">clear</v-icon>
            </v-flex>
          </v-layout>
          <h3>Product Marketing info</h3>
          <v-layout row align-center>
            <v-flex xs6>
              <h4 class="text-xs-left">Competitor Info</h4>
            </v-flex>
            <v-flex xs1 offset-xs5>
              <v-btn fab small primary v-on:click="updateCompetitor">
                <v-icon>add</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
          <v-layout row align-center v-for="(item, index) in updatedCompetitorInfo" :key="index">
            <v-flex xs5>
              <v-text-field
                name="competitorModel"
                label="Competitor Model"
                v-model="updatedCompetitorInfo[index].model"
                ></v-text-field>
            </v-flex>
            <v-flex xs5 offset-xs1>
              <v-text-field
                name="competitorPrice"
                label="Competitor Price"
                v-model="updatedCompetitorInfo[index].price"
                ></v-text-field>
            </v-flex>
            <v-flex xs1>
              <v-icon color="error" v-on:click="removeItem(index, updatedCompetitorInfo)">clear</v-icon>
            </v-flex>
          </v-layout>
          <h4 class="text-xs-left">Availability</h4>
          <v-text-field
            name="availability"
            placeholder="ex: Q1 2018"
            required
            id="availability"
            v-model="product.availability"
            ></v-text-field>
          <h4 class="text-xs-left">Street Price</h4>
          <v-text-field
            name="streetPrice"
            placeholder="ex: $100"
            required
            id="streetPrice"
            v-model="product.streetPrice"
            ></v-text-field>
            <v-layout row align-center>
              <v-flex xs6>
                <h4 class="text-xs-left">Feature Images</h4>
              </v-flex>
              <v-flex xs1 offset-xs5>
                <v-btn fab small primary v-on:click="updateFeatureImages">
                  <v-icon>add</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
            <v-layout row align-center v-for="(item, index) in updatedFeatureImages" :key="index">
              <v-flex xs11>
                <v-text-field
                  :id="'featureImage' + index"
                  name="featureImage"
                  label="feature Image URL"
                  v-model="item.value"
                  ></v-text-field>
              </v-flex>
              <v-flex xs1>
                <v-icon color="error" v-on:click="removeItem(index, updatedFeatureImages)">clear</v-icon>
              </v-flex>
            </v-layout>
          <v-btn type="submit">update product</v-btn>
        </v-flex>
      </form>
    </div>
  </v-layout>
</template>
<script>
  export default {
  name: 'edit',
  props: ['id'],
  data: function() {
  	return {
      brandOptions: ['BEHRINGER', 'BUGERA', 'OEM'],
      warrantyOptions: ['1', '3', '5', '10'],
  		newPFI: [],
  		newCompetitor: [],
      newFeatureImages: []
  	}
  },
  computed: {
  	dateNow() {
  		return new Date()
  	},
    user () {
      return this.$store.getters.user
    },
    modifiedBy () {
      let creator = this.product.createdBy
      let modifier = this.user.email

      if (creator === modifier) {
        return creator
      } else {
        return modifier
      }
    },
  	product () {
  		return this.$store.getters.loadedProduct(this.id)
  	},
     loading () {
       return this.$store.getters.loading
     },
     updatedPFIset: function() {
     	if (this.product.pfi == undefined) {
     		return this.newPFI
     	} else {
     		return this.product.pfi
     	}
     },
     updatedCompetitorInfo() {
     	if (this.product.competitorInfo == null ) {
  			return this.newCompetitor
  		} else {
  			return this.product.competitorInfo
  		}
     },
     updatedFeatureImages() {
      if (this.product.featureImages == null ) {
        return this.newFeatureImages
      } else {
        return this.product.featureImages
      }
     }
    },
    methods: {
      removeItem: function(index, array) {
        array.pop(index)
      },
  		updatePFIset: function() {
  			this.updatedPFIset.push({
  				value: ''
  			})
  		},
     	updateCompetitor: function() {
     		this.updatedCompetitorInfo.push({
  				model: '',
  				price: ''
  			})
     	},
      updateFeatureImages () {
        this.updatedFeatureImages.push({
          value: ''
        })
      },
     	updateProduct: function() {	
     		this.$store.dispatch('updateProductData', {
     			id: this.id,
     			modelcode: this.product.modelcode,
     			modelname: this.product.modelname,
     			category: this.product.category,
     			subhead: this.product.subhead,
     			pfi: this.updatedPFIset,
     			competitorInfo: this.updatedCompetitorInfo,
          availability: this.availability,
          streetPrice: this.streetPrice,
          featureImages: this.updatedFeatureImages,
     			dateAdded: this.product.dateAdded,
     			dateModified: this.dateNow,
          modifiedBy: this.modifiedBy
     		})
     		this.$router.replace('/preview/' + this.id)
     	}
     }
  }
</script>