<template>
  <v-toolbar  class="grey lighten-3">
    <v-toolbar-side-icon @click.stop="drawer = !drawer" class="hidden-sm-and-up"></v-toolbar-side-icon>
    <v-navigation-drawer temporary fixed hide-overlay v-model="drawer"
      >
      <v-list>
        <v-list-tile v-for="item in menuItems" :key="item.title" router :to="item.link">
          <v-list-tile-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>{{item.title}}</v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar-title>
      <img src="../assets/MUSIC_TRIBE_Logo_TypeA.png" alt="">
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items v-if="user" class="hidden-xs-only">
      <v-btn
        flat
        v-for="item in menuItems" :key="item.title"
        router
        :to="item.link"
        >
        <v-icon left>{{item.icon}}</v-icon>
        {{item.title}}
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>
<script>
  import firebase from 'firebase'
  
  export default {
    name: 'pageHeader',
    data: function() {
        return {
            isLoggeedIn: false,
            drawer: false,
            menuItems: [
                {icon : 'dashboard', title: 'Dashboard', link: '/dashboard'},
                {icon : 'insert_drive_file', title: 'Add', link: '/create'},
                {icon : 'person', title: 'Account', link: '/account'}
            ]
        }
    },
    computed: {
      user () {
        return this.$store.getters.user
      }
    }
  }
</script>