<template>
  <v-container>
    <v-layout row wrap v-if="loading">
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular
          indeterminate
          class="primary--text"
          :width="7"
          :size="70"></v-progress-circular>
      </v-flex>
    </v-layout>

    <v-layout row v-else>
    <v-flex xs12 sm6 offset-sm3>
      <div class="white elevation-3">
        <v-toolbar flat dense class="grey lighten-2">
          <v-toolbar-title>Sign In</v-toolbar-title>
        </v-toolbar>
        <div class="pa-4">
          <v-text-field
            required
            label="Email"
            v-model="email"
            ></v-text-field>
          <v-text-field
            required
            label="Password"
            type="password"
            v-model="password"
            ></v-text-field>
          <p class="red--text">{{error}}</p>
          <v-btn primary v-on:click="login">Sign In</v-btn>
        </div>
      </div>
    </v-flex>
  </v-layout>
  </v-container>
  
</template>
<script>
  import firebase from 'firebase'
  
  export default{
  	name: 'login',
  	data: function() {
  		return {
  			email: '',
  			password: '',
  			error: ''
  		}
  	},
    computed: {
      loading() {
        return this.$store.getters.loading
      }
    },
  	methods: {
  		login: function() {
        //set laoding to tru right after user clicks log in button
        this.$store.commit('setLoading', true)
  			firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
  				(user) => {
  					this.$router.replace('dashboard')
  				},
  				(err) => {
            this.$store.commit('setLoading', false)
  					this.error = 'Oops. ' + err.message
  				}
  			)
  		}
  	}
  }
</script>