<template>
    <v-container>
      <!-- <p>{{featureImage}}</p> -->
      <v-layout row wrap v-if="loading">
        <v-flex xs12 class="text-xs-center">
          <v-progress-circular
            indeterminate
            class="primary--text"
            :width="7"
            :size="70"></v-progress-circular>
        </v-flex>
      </v-layout>
      <div v-else mt-16>
        <v-btn :to="'/edit/' + product.id">EDIT</v-btn>
        <v-btn color="primary" v-on:click="convert">DOWNLOAD PDF</v-btn>
        <p>Created by: {{product.createdBy}} in {{product.dateAdded}}</p>

        <p v-show="product.dateModified">Last modified by: {{product.modifiedBy}} in {{product.dateModified}}</p>
      </div>

      <div id="MID">
        <div class="page">
          <section class="header">
            <div class="page__container">
              <p>Marketing Information Document</p>
            </div>
          </section>
          <section class="banner">            
            <div class="page__container">
              <div class="banner__info">
                <p class="category">
                  {{product.category}}
                </p>

                <h1 class="modelname">{{product.modelname}}</h1>

                <p class="subhead">{{product.subhead}}</p>
              </div>
              <div class="banner__image">
                <img :src="product.bannerImage" alt="">
              </div>
            </div>
          </section>

          <section class="main">
            <div class="main__list">
              <div class="page__container">
                <ul>
                  <li v-for="(pfi, index) in product.pfi" :key="index">
                    {{pfi.value}}
                  </li>
                </ul>
              </div>
            </div>

            <div class="main__table">
              <table>
                <tbody>
                  <tr>
                    <td class="name">Competition</td>
                    <td>
                      <p v-for="(item, index) in product.competitorInfo" :key="index">
                        {{item.model}}
                        <span>US$ {{item.price}}</span>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="name">Est. Availability</td>
                    <td>{{product.availability}}</td>
                  </tr>
                  <tr>
                    <td class="name">Est. Street Price</td>
                    <td>US$ {{product.streetPrice}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </section>

          <section class="footer">
            <div class="page__container">
              <div class="footer__info">
                <small>Confidential, for internal use only. Not to be reproduced</small>
              </div>
              <div class="footer__brand-logo">
                <img src="../assets/brand-logos/BUGERA_logo_TypeA.png" alt="">
              </div>
            </div>
          </section>
        </div>

        <div class="page" v-for="(image, index) in product.featureImages" :key="index">
          <section class="header">
            <div class="page__container">
              <p>Marketing Information Document</p>
            </div>
          </section>
          <section class="banner">            
            <div class="page__container">
              <div class="banner__info">
                <p class="category">
                  {{product.category}}
                </p>
                <h1 class="modelname">{{product.modelname}}</h1>
                <p class="subhead">{{product.subhead}}</p>
              </div>
              <div class="banner__image">
                <img :src="product.bannerImage" alt="">
              </div>
            </div>
          </section>
          <section class="main">
            <img :src="image.value" alt="">
          </section>
          <section class="footer">
            <div class="page__container">
              <div class="footer__info" v-if="index + 1 == product.featureImages.length">
                <img :src="warrantyImage" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nihil molestiae, mollitia fuga tenetur, nostrum iste blanditiis iure facere veritatis accusamus? Reiciendis eaque dicta voluptate at consequuntur debitis expedita, quam.</p>
                <p>Confidential, for internal use only. Not to be reproduced</p>
              </div>
              <div class="footer__info" v-else>
                <p>Confidential, for internal use only. Not to be reproduced</p>
              </div>
              <div class="footer__brand-logo">
                <img src="static/images/BUGERA_logo_TypeA.png" alt="">
              </div>
            </div>
          </section>
        </div>
      </div>
    </v-container>
    
</template>
<script>
  import * as jsPDF from '../../node_modules/jspdf/dist/jspdf.debug.js'
  import * as html2canvas from '../../node_modules/html2canvas/dist/html2canvas.js'
  import * as html2pdf from '../../node_modules/html2pdf.js/dist/html2pdf.js'

  export default{
  	name: 'preview',
    props: ['id'],
    computed: {
      product() {
        return this.$store.getters.loadedProduct(this.id)
      },
      loading () {
        return this.$store.getters.loading
      },
      warrantyImage () {
        return 'static/images/' + this.product.warranty + '-year-warranty.png'
      }
    },
    methods: {
      convert: function() {
        var html = document.querySelector('#MID')

        html2pdf(html, {
          filename: this.product.brand + '_' + this.product.modelname + '.pdf',
          html2canvas: {
            dpi: 300,
            letterRendering: true,
            useCORS: true
          },
          jsPDF: {
            unit: 'mm',
            format: 'a4'
          }
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  #MID{
    text-align: left;
    font-family: 'Myriad pro';
    color: #57585a;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .page{
    position: relative;
    width: 210mm;
    height: 296.6mm;
    background-color: #ffffff;
    margin: 0 auto;

    &:not(:first-child){
      .banner{
        &__image{
          display: none;
        }
      }
    }

    &__container{
      padding: 0 30px;
    }

    p{
      font-size: 14px;
      margin: 0;
    }

    li{
      font-size: 14px;
    }

    .footer{
      background-color: #ffffff;
    }
  }

  .header{
    background-color: #ffffff;
    p{
      padding-top: 10px;
    }
  }

  .banner{
    position: relative;
    height: 270px;
    background-color: #f1f1f1;
    
    &__info{
      position: relative;
      width: 350px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .category{
        border-bottom: 3px solid yellow;
        width: auto;
        position: relative;
        top: -65px;
        display: inline-block;
      }

      h1{
        font-size: 35px;
        font-weight: 400;
      }
    }
    &__image{
      max-width: 50%;
      position: absolute;
      right: 60px;
      top: 50%;
      transform: translateY(-50%);

      img{
        position: relative;
        max-width: 300px;
        max-height: 300px;
        margin: 0 auto;
      }
    }
  }

  .main{
    position: relative;
    display: block;
    width: 100%;
    padding-top: 45px;

    //temp
    img{
      display: block;
      max-width: 90%;
      margin: 0 auto;
    }

    &__list{
      width: 280px;
      position: absolute;
      left: 0;

      ul{
        border-right: 2px solid rgba(87, 88, 90, 0.4);
        li{
          list-style: none;
          position: relative;
          padding-left: 10px;
          padding-right: 10px;

          &:before{
            content: " ";
            position: absolute;
            left: -5px;
            width: 7px;
            height: 7px;
            top: 5px;
            border-radius: 50%;
            background-color: #57585a;
          }
        }
      }
    }

    &__table{
      position: absolute;
      left: calc(100% - 490px);
      top: 200px;
      width: auto;

      table{
        background-color: #f1f1f1;
        border-radius: 12px;
        border-collapse: collapse;
        width: 450px;

        tbody{
          tr{
            border-bottom: 1px solid #ffffff;
            td{
              vertical-align: middle;
              border-right: 1px solid #ffffff;
              padding: 8px;
              &:last-child{
                border: none;
              }
              &.name{
                font-weight: bold;
              }
              p{
                span{
                  position: absolute;
                  right: 15px;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer{
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;

    &__info{
      position: absolute;
      bottom: 15px;
      left: 30px;
      max-width: 550px;

      img {
        width: 50px;
      }

      p{
        font-size: 10px;
        opacity: 0.8;
        line-height: 1.2;
      }
    }

    &__brand-logo{
      position: absolute;
      bottom: 15px;
      right: 40px;
    }
  }

</style>