<template>
  <div id="app">
    <v-app>
      <page-header />
      <main>
        <router-view/>
      </main>
    </v-app>
  </div>
</template>

<script>
import pageHeader from '@/components/header.vue'
export default {
  name: 'App',
  components: {
    pageHeader
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
} 
</style>
